{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "^@contexts/(.*)$|@hooks",
    "^(@components/(.*)$)",
    "^(@stacks/(.*)$)",
    "^(@screens/(.*)$)",
    "^@assets/(.*)$|^@themes/(.*)$|@utils",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
